
.header{
height:40px;
background:#C75B12;
border:1px solid #CCC;
position:fixed;
top:0px;
width:100%;	
}
.footer {
height:30px;
background:#C75B12;
border:1px solid #CCC;
width: 100%;
bottom: 0px;
position: absolute;
color:white;
}

.nav{
height:30px;
top:200px;
background:#008542;
}

.nav ul{
margin:0;
padding:0;
}		

.nav ul li{
list-style:none;
}

.nav ul li a{
color:white;
text-decoration:none;
float:left;
display:block;
padding:10px 20px;
}
input[type="checkbox"], 
input[type="radio"],
input.radio,
input.checkbox {
vertical-align:text-top;
width:13px;
height:13px;
padding:0;
margin:0;
position:relative;
overflow:hidden;
top:2px;
}